body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: source-sans-pro;
    background-color: #5982C9;
    font-style: normal;
    font-weight: 400;
    font-size: large;
}
#hero img {
    max-width: 100%;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}
h2  {
    font-weight: normal;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    color: #292828;
    background-color: #FFFDFD;
    font-size: xx-large;
    text-align: left;
}
h1 {
    color: #FFFFFF;
    background-color: #3F598F;
    font-weight: 400;
    font-family: fredericka-the-great;
    font-style: normal;
    font-size: 60px;
    text-align: center;
    text-transform: capitalize;
    white-space: pre-line;
}


#wrapper {
    background-color: #FFFFFF;
    width: auto;
    min-width: 740px;
    max-width: 1000px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
}
p {
    color: #1D1D1D;
    font-weight: normal;
    background-color: #FFFFFF;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    border-top-left-radius: 10px;
}
#sidebar {
}


#main {
    margin-left: 2%;
    width: 50%;
    color: #373535;
    text-align: left;
    font-weight: 200;
    float: left;
    overflow-x: hidden;
    overflow-y: hidden;
    font-style: normal;
    font-size: 14px;
    font-family: source-sans-pro;
}
h5 {
    float: none;
    color: #070707;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: center;
}

#sidebar  {
    width: 45%;
    height: 35%;
    float: right;
    font-family: source-sans-pro;
    font-weight: 600;
    font-style: normal;
    background-color: #DDDADA;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: #393838;
    border-radius: 2px;
}
footer {
    clear: both;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #FFFFFF;
    background-color: #3F598F;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 200;
}
img {
}
figure {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
figure p img {
    right: auto;
}
h6 {
    float: left;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
h3 {
}


#sidebar2 {
    text-align: center;
    font-style: normal;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    color: #020202;
    text-decoration: none;
}
li {
    float: left;
    width: 16%;
    text-align: left;
    color: #FFFFFF;
    background-color: #8AA3D8;
    text-transform: capitalize;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
#mainnav {
    text-align: left;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
    top: 5%;
}

ul {
    text-decoration: none;
	list-style-type:none;
}
img {
    border-radius: 25px;
}
